<div id="page-wrapper">
<div role="alert" class="alert alert-{{class}}">
  <strong>{{message}}</strong>
</div>
<div class="panel-heading">
<h2>Change Password</h2>
<div data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}" data-actions-container="" class="panel-ctrls"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
</div>
<div class="panel-body panel-body-inputin">

<form role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">New Passowrd</label>
    <div class="col-md-8">
      <div class="input-group in-grp1"> 
        <span class="input-group-addon">
          <i class="fa fa-key"></i>
        </span>           
        <input type="hidden" name="supplier.id" ng-model="supplier.id"></input>
        <input type="hidden" name="supplier.PKCompanyRefNo" ng-model="supplier.PKCompanyRefNo"></input>
        <input type="password" class="form-control1" placeholder="new password"  name="password" ng-model="supplier.password">
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  

  <div class="form-group">
    <label class="col-md-2 control-label">Confirm New Password</label>
    <div class="col-md-8">
      <div class="input-group input-icon right in-grp1">
        <span class="input-group-addon">
          <i class="fa fa-key"></i>
        </span>
        <input id="supplier.cpassword" class="form-control1" type="password" placeholder="confrim password" name="cpassword" ng-model="supplier.cpassword">
      </div>
    </div>
    <div class="col-sm-2 jlkdfj1">
      <p class="help-block"></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  

  
  
  
  <div class="panel-footer">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <button class="btn-success btn" id="psbtn">Submit</button>
      <button class="btn-success btn" id="cnlBtn">Cancel</button>
    </div>
  </div>
  </div>
</form>
</div>
</div>